<footer class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img src="./assets/images/miande.png" alt="Miande" class="img-fluid">
    </div>
    <div class="col-md-8 footer-links">
      <ul>
        <li><a href="#" class="nav-link"><span class="fa fa-home"></span> <strong>Home</strong></a></li>
        <li><a href="#" class="nav-link"> <strong>Kanisa</strong></a></li>
        <li><a href="#" class="nav-link"> <strong>Mahali</strong></a></li>
        <li><a href="#" class="nav-link"> <strong>Matangazo</strong></a></li>
        <li><a href="#" class="nav-link"> <strong>Mshiriki</strong></a></li>
      </ul>
    </div>
  </div>
  <div class="row copyright-text">
    <p class="copyright-text"><b>Copyright &copy; 2018</b></p>
  </div>
</footer>

