<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-2">
        <img src="./assets/images/text-lines.png">
      </div>
      <div class="col-md-2">
        <h2>Oops!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <h3>Page you requesting is not found!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a routerLink="" class="btn btn-primary">Take me home</a>
      </div>
    </div>
  </div>
</div>