<app-wrapper>
  <div class="container">
    <h1 class="section-text">Kuhusu Kanisa</h1><hr class="title-line">
    <p class="about-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p><br>

    <h1 class="section-text">Uongozi</h1><hr class="title-line">
    <div class="card bg-secondary">
      <div class="card-header card-heading-text">Baadhi ya viongozi wa kanisa</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped about-text">
            <thead>
            <tr>
              <th>Jina</th>
              <th>Uongozi</th>
              <th>Mawasiliano</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Samwel Sorongai</td>
              <td>Mchungaji</td>
              <td>0657899234</td>
            </tr>
            <tr>
              <td>Yohana Mtoni</td>
              <td>Mzee wa kanisa</td>
              <td>0657899234</td>
            </tr>
            <tr>
              <td>Samwel Sorongai</td>
              <td>Mchungaji</td>
              <td>0657899234</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><br>

  </div>
</app-wrapper>