<app-homewrapper>
    <div class="container">
    <!-- Start of image slider -->
    <div id="demo" class="carousel slide no-padding no-margin" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/images/biblepic.jpg" alt="Music" class="d-block img-fluid">
          <div class="carousel-caption d-none d-md-block">
              <h1 class="small-title"><strong>KARIBU KANISA LA MIANDE</strong></h1><br>
            <button type="button" class="btn btn-outline-primary"><strong>Kuhusu Kanisa</strong></button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/images/piano.jpg" alt="Church" class="d-block img-fluid">
        </div>
        <div class="carousel-item">
          <img src="./assets/images/mic.jpg" alt="Forest" class="d-block img-fluid">
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div><!-- End of carousel -->
    <br>
    <!-- End of image slider -->


      <div class="row">
        <div class="col-md-4">
          <h2 class="small-title">Matangazo</h2><hr class="title-line">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><hr>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><hr>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><hr>
        </div><!-- end of col-md-4 -->
        <div class="col-md-4">
          <h2 class="small-title">Matukio</h2><hr class="title-line">
          <div class="card bg-secondary">
            <div class="card-body">
              <div class="row">
                <div class="col-md-1 event-date">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-calendar-o fa-stack-2x"></i>
                          <strong class="fa-stack-1x calendar-text">
                              Jan 27
                          </strong>
                      </span>
                </div><!-- end of col-md-1 Event date -->
                <div class="offset-sm-2 col-md-6 section-text">
                  Sabato ya wageni
                </div><!-- end of col-md-6 -->
              </div><!-- end of row -->
            </div><!-- end of card-body -->
          </div><!-- end of card bg-secondary --><br>
          <div class="card bg-secondary">
            <div class="card-body">
              <div class="row">
                <div class="col-md-1 event-date">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-calendar-o fa-stack-2x"></i>
                          <strong class="fa-stack-1x calendar-text">
                              Jan 27
                          </strong>
                      </span>
                </div>
                <div class="offset-sm-2 col-md-6 section-text">
                  Sabato ya wageni
                </div>
              </div>
            </div>
          </div><br>
          <div class="card bg-secondary">
            <div class="card-body">
              <div class="row">
                <div class="col-md-1 event-date">
                      <span class="fa-stack fa-2x">
                          <i class="fa fa-calendar-o fa-stack-2x"></i>
                          <strong class="fa-stack-1x calendar-text">
                              Jan 27
                          </strong>
                      </span>
                </div>
                <div class="offset-sm-2 col-md-6 section-text">
                  Sabato ya wageni
                </div>
              </div>
            </div>
          </div><br>
          <button type="button" class="btn btn-outline-secondary section-text">Mengine</button>
        </div>
        <div class="col-md-4">
          <h2 class="small-title">Ratiba ya ibada</h2><hr class="title-line">
          <div class="table-responsive">
            <table class="table table-striped section-text">
              <tr>
                <th>Siku</th>
                <th>Ibada</th>
              </tr>
              <tr>
                <th>Jumatano <p>5:00pm - 6:00pm</p></th>
                <td>Maombi</td>
              </tr>
              <tr>
                <th>Ijumaa <p>5:00pm - 6:00pm</p></th>
                <td>Kufungua Sabato</td>
              </tr>
              <tr>
                <th>Jumamosi <p>8:00am - 12:30pm</p></th>
                <td>Ibada kuu</td>
              </tr>
              <tr>
                <th>Jumamosi <p>5:30pm - 6:30pm</p></th>
                <td>Kufunga sabato</td>
              </tr>
            </table>
          </div><!-- end of tanle responsive -->
        </div><!-- end of col-md-4 -->
      </div><!-- End of row -->
      <div class="row">
          <div class="col-md-4">
              <h2 class="small-title">Kanisa ulimwenguni</h2><hr class="title-line">
              <!--- Images for links -->
              <div class="card-image">
                  <div class="imageBox">
                      <img src="./assets/images/sda_logo.png" class="d-block img-fluid church-icons">
                      <div class="image-details">
                          <h3><a class="btn btn-outline-info"><strong>www.sdachurch.org</strong></a></h3>
                      </div>
                  </div>
              </div>
              <div class="card-image">
                  <div class="imageBox">
                      <img src="./assets/images/hopechannel.png" class="d-block img-fluid church-icons">
                      <div class="image-details">
                          <h3><a class="btn btn-outline-info"><strong>www.sdachurch.org</strong></a></h3>
                      </div>
                  </div>
              </div>
              <div class="card-image">
                  <div class="imageBox">
                      <img src="./assets/images/tmi_logo.png" class="d-block img-fluid church-icons">
                      <div class="image-details">
                          <h3><a class="btn btn-outline-info"><strong>www.sdachurch.org</strong></a></h3>
                      </div>
                  </div>
              </div>
              <!--- End of Images for links -->

          </div>
          <div class="col-md-4" >
              <h2 class="small-title">Wasiliana nasi</h2><hr class="title-line">
              <!-- Contact us form  -->
              <div>
                  <form [formGroup]='contactForm' #contactform="ngForm" (ngSubmit)="sendContactMessage($event,contactform)" novalidate>
                      <!-- Email field -->
                      <div class="form-group" [formGroup]="contactForm">
                          <label for="contact_email" class="control-label">Barua pepe:</label>
                          <div class="input-group">
                              <div class="input-group-addon">@</div>
                              <input type="email" class="form-control" id="contact_email"  formControlName="contact_email" autocomplete="off">
                              <div  class="input-group-addon"  *ngIf="!contactForm.controls['contact_email'].valid &&
                                  contactForm.controls['contact_email'].touched
                              ">
                                  <span class="fa fa-exclamation-triangle"></span>
                              </div>
                          </div>
                          <div  class="text-danger"
                              *ngIf="!contactForm.controls['contact_email'].valid &&
                              contactForm.controls['contact_email'].touched
                          ">
                              <p  class="text-danger" [hidden]="!contactForm.controls['contact_email'].errors.email">
                                 Barua pepe haipo sawa!
                              </p>

                          </div>
                      </div>
                      <!-- Name field -->
                      <div class="form-group">
                          <label for="contact_name">Jina:</label>
                          <div class="input-group">
                              <input type="text" class="form-control" id="contact_name" formControlName="contact_name" autocomplete="off">
                              <div class="input-group-addon" *ngIf="!contactForm.controls['contact_name'].valid && contactForm.controls['contact_name'].touched">
                                  <span class="fa fa-exclamation-triangle"></span>
                              </div>
                          </div>
                          <p  class="text-danger" *ngIf="!contactForm.controls['contact_name'].valid && contactForm.controls['contact_name'].touched">
                              Jina linahitajikaa!
                          </p>
                      </div>
                      <!-- Subject field -->
                      <div class="form-group">
                          <label for="contact_subject">Kichwa cha ujumbe</label>
                          <div class="input-group">
                              <input class="form-control" type="text" id="contact_subject" formControlName="contact_subject" autocomplete="off">
                              <div  class="input-group-addon"  *ngIf="!contactForm.controls['contact_subject'].valid &&
                              contactForm.controls['contact_subject'].touched
                          ">
                                  <span class="fa fa-exclamation-triangle"></span>
                              </div>
                          </div>
                          <div  class="text-danger"
                                *ngIf="!contactForm.controls['contact_subject'].valid &&
                              contactForm.controls['contact_subject'].touched
                          ">
                              <p  class="text-danger" [hidden]="!contactForm.controls['contact_subject'].errors.required">
                                  Kichwa cha habari kinahitajikaa!
                              </p>

                          </div>
                      </div>
                      <!-- Message field -->
                      <div class="form-group">
                          <label for="contact_message">Ujumbe:</label>
                          <div class="input-group">
                              <textarea class="form-control" id="contact_message" rows="3" formControlName="contact_message" autocomplete="off">
                              </textarea>
                              <div  class="input-group-addon" *ngIf="!contactForm.controls['contact_message'].valid &&
                              contactForm.controls['contact_message'].touched
                          ">
                                  <span class="fa fa-exclamation-triangle"></span>
                              </div>
                          </div>
                          <div  class="text-danger"
                                *ngIf="!contactForm.controls['contact_message'].valid &&
                              contactForm.controls['contact_message'].touched
                          ">
                              <p  class="text-danger" [hidden]="!contactForm.controls['contact_subject'].errors.required">
                                 Maandishi ya ujumbe yawe na herufi 20 mpaka 200!
                              </p>

                          </div>
                      </div>
                      <div class="form-group">
                          <ngx-loading-bar></ngx-loading-bar>
                          <input type="submit" class="btn btn-outline-success" id="send-message" value="Tuma ujumbe" [disabled]="!contactForm.valid">
                      </div>
                  </form><br>
              </div>
          </div>


          <div class="col-md-4">
              <h2 class="small-title">Mahubiri</h2><hr class="title-line">
              <youtube-player
                      [videoId]="id"
                      (ready)="savePlayer($event)"
                      (change)="onStateChange($event)"
              ></youtube-player>
          </div>
      </div>
    </div><!-- End of container -->

</app-homewrapper>